a:not([href]):not([tabindex]) {
  color: #3A68B8;
}
a:not([href]):not([tabindex]):hover {
  color: #2E518F;
  cursor: pointer;
}
.login {
  background-color: #020A18;
  height: 1000px;
}
.headerRect {
  position: absolute;
  width: 100%;
  height: 100%;
  left: -1px;
  top: 0px;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -41.9%, #000000 260.24%);
  opacity: 0.02;

  border-radius: 10px;
}
.heroArea {
  position: static;
  width: 100%;
  height: 1030px;
  top: 0px;
}
.heroRect {
  position: absolute;
  width: 100%;
  height: 100%;
  left: -1px;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -41.9%, rgba(255, 255, 255, 0.4) 260.24%);
  opacity: 0.1;
  border-radius: 10px;
}
.imgDiv {
  height: 100%;
  position: static;
}
.logoImage {
  position: static;
  top: 50%;
  height: 50px;
  background: none;
}
.logoText {
  height: 100%;
}
.logoTextPos {
  color: #3A68B8;
  background: none;
  font-family: Open Sans, serif;
  font-style: normal;
  font-weight: 600;
  line-height: 10px;
  font-size: 22.5455px;
  text-decoration: none;
  transition: 0.3s linear;
  position: absolute;
  top: 50%;
  text-align: center;
  height: auto;
}
.logoTextPos:hover, :focus {
  color: #2E518F;
  cursor: pointer;
}
.menu {
  height: auto;
  position: static;
  background: none;
  width: 47px;
  height: 22px;
  top: 39px;

  font-family: Open Sans, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;

  color: #FFFFFF;
}
.list {
  height: 100%;
  align-items: center;
}
.listItem {
  background: none;
  position: relative;
  top: 50%;
  font-family: Open Sans, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 0px;
  text-decoration: none;
  transition: 0.3s linear;

  color: #FFFFFF;
}
.listItem:hover, :focus  {
  color: #3A68B8;
  cursor: pointer;
}
.frame {
  position: relative;
  top: 20%;
  width: 50%;
  height: 70%;
  background: #3A68B8;
  border-radius: 5px;
  transition: 0.3s linear;
}
.frame:hover, :focus {
  background: #191970;
  cursor: pointer;
}
.signin {
  position: relative;
  width: auto;
  height: auto;
  top: 15%;
  background-color: none;
  font-family: Open Sans, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;

  color: #FFFFFF;
}
.accordion {
  position: absolute;
  left: 10%;
  right: 15%;
}
.accordion .accordion-item {
	margin: 0 auto;
}
.accordion .ui-accordion-header {
	padding: 10px;
  border: none;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -41.9%, #000000 260.24%);
  color: #ffffff;
	cursor: pointer;
	outline: none;
  border-radius: 1px;
}
.accordion .ui-accordion-content {
	padding: 10px;
  color: #ffffff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -41.9%, rgba(255, 255, 255, 0.4) 260.24%);
  border: none;
}
.input  {
  position: static;
}
.textArr {
  position: sticky;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -41.9%, #000000 260.24%);
  color: #FFFFFF;
  border: none;
  width: 99%;
  font-size: 2em;
}
.textAne {
  position: static;
  text-align: center;
  font-size: 1.3em;
  color: #FFFFFF;
}
.AIButton {
  padding: 15px 30px;
  width: auto;
  max-width: 200px;

  position: relative;

  background: #3A68B8;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s linear;
}
.ButtonCont {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 30px;

  position: absolute;
  margin-top: 3%;
  margin-left: 44%;

  background: #3A68B8;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s linear;
}
.AIButton, .ButtonCont:hover  {
  background: #191970;
  cursor: pointer;
}
.AIButtonText {
  position: static;
  text-decoration: none;
  width: 150px;
  height: auto;

  font-family: Open Sans, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;

  color: #FFFFFF;
  margin: 0 auto;
  flex-grow: 0;
  background-color: inherit;
}
