<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Artificial Intelligence</title>
    <link rel="shortcut icon" href="../assets/robot.png" type="image/png">
    <script src="../scripts/bootstrap.min.js"></script>
    <script src="../scripts/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/login.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css">
    <script>
    $( function() {
      $('.accordion').accordion({
        heightStyle: 'content',
        header: '> .accordion-item > .accordion-header'
        });
      } );
    </script>
  </head>
  <body class="login">
    <div class="container-fluid">
      <div class="row">
        <div class="heroRect"></div>
        <div class="col-md-12">
          <div class="row">
            <div class="headerRect"></div>
            <div class="col-md-4 col-sm-6 col-xs-12 offset-xs-3 offset-sm-1">
              <div class="row">
                <div class="col-xs-2 col-sm-3">
                  <div class="imgDiv">
                    <img src="../assets/robot.png" class="logoImage">
                  </div>
                </div>
                <div class="col-xs-10 col-sm-9">
                  <div class="logoText">
                    <a class="logoTextPos" id="logoClick" onclick="logoClicked()">Artificial Intelligence</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 d-none d-md-block">
              <div class="h-100 row">
                <div class="col-md-2">
                  <div class="listItem text-center">
                    <a href="main.html" class="listItem">Home</a>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="listItem text-center">
                    <a href="about.html" class="listItem">About</a>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="listItem text-center">
                    <a href="services.html" class="listItem">Services</a>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="listItem text-center">
                    <a href="blog.html" class="listItem">Blog</a>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="listItem text-center">
                    <a href="contact.html" class="listItem">Contact</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2 d-none d-md-block">
              <div class="frame text-center">
                <a href="login.html" class="signin" >Sign in</a>
              </div>
            </div>
            <div class="col-sm-3 d-none d-sm-block d-md-none">
              <div class="listItem text-center">
                <a href="blog.html" class="listItem">Something else</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion">
    	<div class="accordion-item">
    		<div class="accordion-header">Main Information</div>
    		<div>
          <p>Lorem ipsum is placeholder text commonly used
            in the graphic, print, and publishing industries for previewing
            layouts and visual mockups.</p>
            <p>Lorem ipsum is placeholder text commonly used
              in the graphic, print, and publishing industries for previewing
              layouts and visual mockups.</p>
        </div>
    	</div>

    	<div class="accordion-item">
    		<div class="accordion-header">Artifcial Intelligence</div>
    		<div>
          <p>Lorem ipsum is placeholder text commonly used
            in the graphic, print, and publishing industries for previewing
            layouts and visual mockups.</p>
            <p>Lorem ipsum is placeholder text commonly used
              in the graphic, print, and publishing industries for previewing
              layouts and visual mockups.</p>
        </div>
    	</div>

    	<div class="accordion-item">
    		<div class="accordion-header">For what?</div>
    		<div>
          <p>Lorem ipsum is placeholder text commonly used
            in the graphic, print, and publishing industries for previewing
            layouts and visual mockups.</p>
            <p>Lorem ipsum is placeholder text commonly used
              in the graphic, print, and publishing industries for previewing
              layouts and visual mockups.</p>
        </div>
    	</div>
    </div>
  </body>
</html>
