<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Artificial Intelligence</title>
    <link rel="shortcut icon" href="../assets/robot.png" type="image/png">
    <link rel="stylesheet" href="../css/login.css">
    <script src="../scripts/bootstrap.min.js"></script>
    <script src="../scripts/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css">
    <script>
    $( function() {
      $("#auto1").autocomplete({source:["Помогите", "Проблема", "с определением"]});
      $("#datepicker1").datepicker({
     monthNames:["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
     dayNamesMin:["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
     firstDay:1,
     dateFormat:"dd.mm.yy"
  });
      } );
    </script>
  </head>
  <body class="login">
    <div class="container-fluid">
      <div class="row">
        <div class="heroRect"></div>
        <div class="col-md-12">
          <div class="row">
            <div class="headerRect"></div>
            <div class="col-md-4 col-sm-6 col-xs-12 offset-xs-3 offset-sm-1">
              <div class="row">
                <div class="col-xs-2 col-sm-3">
                  <div class="imgDiv">
                    <img src="../assets/robot.png" class="logoImage">
                  </div>
                </div>
                <div class="col-xs-10 col-sm-9">
                  <div class="logoText">
                    <a class="logoTextPos">Artificial Intelligence</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 d-none d-md-block">
              <div class="h-100 row">
                <div class="col-md-2">
                  <div class="listItem text-center">
                    <a href="main.html" class="listItem">Home</a>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="listItem text-center">
                    <a href="about.html" class="listItem">About</a>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="listItem text-center">
                    <a href="#" class="listItem">Services</a>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="listItem text-center">
                    <a href="#" class="listItem">Blog</a>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="listItem text-center">
                    <a href="contact.html" class="listItem">Contact</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2 d-none d-md-block">
              <div class="frame text-center">
                <a href="login.html" class="signin" >Sign in</a>
              </div>
            </div>
            <div class="col-sm-3 d-none d-sm-block d-md-none">
              <div class="listItem text-center">
                <a href="#" class="listItem">Something else</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="heroArea">
      <p class="textAne">Contacting support</p>
      <input type="text" id="auto1" class="textArr"/>
      <p class="textAne">Date of problem</p>
      <input type="text" id="datepicker1" class="textArr" />
      <div class="ButtonCont">
        <p class="AIButtonText"><a href="#" class="AIButtonText">Send</a></p>
      </div>
    </div>
  </body>
</html>
