<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Artificial Intelligence</title>
    <link rel="shortcut icon" href="../assets/robot.png" type="image/png">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body class="login">
    <div class="header">
      <div class="heroRect"></div>
      <div class="headerRect"></div>
      <div class="logo">
        <img src="../assets/robot.png" class="logoImage">
        <a class="logoText" id="logoClick" onclick="logoClicked()">Artificial Intelligence</a>
      </div>
      <div class="menus">
        <ul class="list">
          <li class="listItem"><a href="main.html" class="listItem">Home</a></li>
          <li class="listItem"><a href="#" class="listItem">About</a></li>
          <li class="listItem"><a href="#" class="listItem">Services</a></li>
          <li class="listItem"><a href="#" class="listItem">Blog</a></li>
          <li class="listItem"><a href="#" class="listItem">Contact</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
